<?xml version="1.0" encoding="UTF-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~  WSPro - Trading Card Game Simulator
  ~  Copyright (C) 2020  Klayton Killough
  ~
  ~  This program is free software: you can redistribute it and/or modify
  ~  it under the terms of the GNU Affero General Public License as published
  ~  by the Free Software Foundation, version 3 of the License.
  ~
  ~  This program is distributed in the hope that it will be useful,
  ~  but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~  GNU Affero General Public License for more details.
  ~
  ~  You should have received a copy of the GNU Affero General Public License
  ~  along with this program.  If not, see <https://www.gnu.org/licenses/>.
  ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<Configuration status="ERROR">
    <Appenders>
        <RollingFile name="log"
                     fileName="WSProServer.log"
                     filePattern="WSProServer-%d{MM-dd-yy}.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100M" />
            </Policies>
        </RollingFile>
        <Console name="stdout">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="to.klay.wspro" level="INFO" additivity="false">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="log"/>
        </Logger>
        <Root level="WARN" additivity="true">
            <AppenderRef ref="stdout" />
        </Root>
    </Loggers>
</Configuration>
